body {
    margin: 0 15px 15px;
    line-height: 1.6;
    color: #333;
    font-family: Arial, x-locale-body, sans-serif;
    -webkit-font-smoothing: antialiased
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

h2, h3, h4, h5, h6 {
    margin: 1em 0 10px;
}

a {
    color: #9b4dca;
    text-decoration: none;
}

code {
    background: #f4f5f6;
    border-radius: 4px;
    font-size: 15px;
    margin: 0 2px;
    padding: 2px 5px;
    white-space: nowrap;
}

pre {
    background: #f4f5f6;
    /*border-left: 3px solid #9b4dca;*/
    overflow-y: hidden;
}

pre > code {
    border-radius: 0;
    display: block;
    padding: 10px 15px;
    white-space: pre;
    overflow-y: hidden;
}

pre code table {
    margin: 0;
    padding-right: 15px;
    width: unset;
}

pre code table td {
    border: 0;
    padding: 0;
}

pre code table td.line-number {
    min-width: 1em;
    text-align: right;
    padding-right: 0.8em;
    color: rgba(27, 31, 35, .3);
}

pre code table td.line-number:before {
    content: attr(data-line-number);
}

blockquote {
    border-left: 3px solid #d1d1d1;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
    padding: 0 1em;
}

blockquote *:last-child {
    margin-bottom: 0;
}

/* 无 border table */
table {
    border-spacing: 0;
    width: 100%;
    margin-bottom: 25px;
}

td,
th {
    border-bottom: 1px solid #e1e1e1;
    padding: 12px 15px;
    text-align: left;
}

td:first-child,
th:first-child {
    padding-left: 0;
}

td:last-child,
th:last-child {
    padding-right: 0;
}

hr {
    border: 0;
    border-top: 1px solid #f4f5f6;
    margin: 30px 0;
}

label,
legend {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

/* 阻止手机浏览器修改搜索框样式 */
input[type=search] {
    -moz-appearance: none; /* older firefox */
    -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
    appearance: none; /* rest */
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'] {
    background-color: transparent;
    border: 1px solid #d1d1d1;
    box-shadow: none;
    border-radius: .4em;
    font-size: 1em;
    padding: .6em 1em;
    box-sizing: border-box;
    width: 100%;
}

input:focus {
    border: 1px solid #9b4dca;
    outline: 0;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    background-color: #9b4dca;
    border: 0.1em solid #9b4dca;
    border-radius: .4em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 3em;
    letter-spacing: .1em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.container {
    min-width: 300px;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: column;
}

.row .column {
    display: block;
    flex: 1 1 auto;
    /* 这里可能 width 和 max-width 有一个就够了，或者改为 overflow-x:非visible。
    但不可一个都没有，否则内部的 pre 宽度就没边了，然后把这个元素撑的宽度没边。*/
    max-width: 100%;
    width: 100%;
}

.row .column.sidebar {
    display: none;
    padding-bottom: 1em;
}

.row.show_sidebar .column.sidebar {
    display: block;
}

.no_selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    /*noinspection CssUnknownProperty*/
    -khtml-user-select: none;
    -ms-user-select: none;
}

.header__row_1__heading {
    padding-top: 0.5em;
}

.header__row_1__heading h1 {
    display: inline-block;
}

.header__row_1__heading__logout {
    float: right;
}

.header__row_1__search_box {
    padding-top: .7em;
}

.header__row_1__search_box svg {
    position: absolute;
    margin: 11px 0 0 14px;
    opacity: .54;
}

.header__row_1__search_form {
    max-width: 600px;
    position: relative;
}

.header__row_1__search_form input {
    background-color: rgba(0, 0, 0, 0.04);
    line-height: 1.6;
    border-width: 0;
    padding-left: 3em;
    padding-right: 3em;
}

.header__row_1__search_box input:focus {
    background-color: transparent;
    border-width: 1px;
}

.row .column.header__row_1__right {
    display: none;
}

.header__row_1__right__logout {
    float: right;
}

.header__toolbar {
    margin-top: 1.5em;
}

.header__toolbar__sidebar_toggle {
    cursor: pointer;
    display: none;
}

.js .header__toolbar__sidebar_toggle {
    display: unset;
}

.main {
    word-break: break-all;
}

.tree_box ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 1em;
}

.tree_box > ul {
    padding: 0;
}

.tree_node_header {
    cursor: pointer;
    display: inline-block;
}

.tree_node_header_icon {
    padding-right: 5px;
}

.tree_node_folded > ul {
    display: none;
}

.tree_node_unfolded > ul {
    display: block;
}

.tree_node_header_selected {
    background: bisque;
}

.page .search_str {
    font-style: normal;
    background-color: #ff9;
}

/* 锚链接 */
.page > .heading {
    margin-left: -1em;
    padding-left: 1em;
}

.page > .heading > a.heading__anchor {
    position: absolute;
    margin-left: -1em;
    visibility: hidden;
    display: block;
}

.page > .heading > a.heading__anchor:before {
    content: "\00A7";
}

.page > .heading:hover > a.heading__anchor {
    visibility: visible;
}

.page .heading__anchor__icon {
    opacity: .54;
    fill: currentColor;
    color: #3d7e9a;
    margin-left: 10px;
}

.toc {
    display: none;
}

.js .toc {
    display: unset;
}

.toc h3 {
    margin-bottom: .5em;
    font-size: 1em;
    cursor: pointer;
}

.toc > ul {
    display: none;
}

.toc ul {
    margin: 0;
    padding: 0 0 0 1em;
}

.toc ul li {
    margin: 0;
}

.sr {
    max-width: 600px;
}

.sr_stats {
    font-size: 14px;
    color: #808080;
    padding-bottom: 1em;
}

.sr_page {
    margin-bottom: 26px;
}

.sr_page_title {
    font-size: 18px;
}

.sr_page_path {
    color: #006621;
}

.sr_page_info {
    display: inline-block;
    color: #808080;
}

.sr_page .search_str {
    font-weight: bolder;
    font-style: normal;
    background-color: #ff9;
}

.sr_page_body .search_str {
    color: #6a6a6a;
}

.login_box {
    max-width: 300px;
    min-width: 100px;
    margin: 2em auto;
}

.login_box input {
    margin-bottom: 1em;
}

.login_box input[type=submit] {
    width: 100%;
    margin-top: 1em;
}

.recently_modified i {
    font-size: small;
    color: #808080;
}

.search_box__category_and_tags {
    display: none;
    font-size: 14px;
}

.search_box__category_and_tags.show {
    display: unset;
}

.search_box__category_and_tags ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.search_box__category_and_tags ul li {
    display: inline-block;
    margin: 0 .25em;
    padding: 0 .25em;
    cursor: pointer;
    border: 1px solid transparent;
}

.search_box__category_and_tags ul li:hover {
    border-color: #d7d7d7;
}

.search_box__category_list_title, .search_box__tags_list_title {
    font-weight: bold;
    padding-right: 1em;
}

.search_box__category_and_tags ul li.cat_activation {
    background: #e0e0e0;
    border-color: #d7d7d7;
}

.category_box, .tags_box {
    margin-top: .5em;
    line-height: 1.2;
}

.header__row_1__search_form__category_and_tags_toggle {
    position: absolute;
    right: 15px;
    top: 3px;
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

.js .header__row_1__search_form__category_and_tags_toggle {
    display: unset;
}

.qs_opened .header__row_1__search_input {
    border: 1px solid #9b4dca;
    background-color: transparent;
}

.qsr {
    padding-top: 0.5em;
    box-sizing: border-box;
    min-height: 600px;
    display: none;
}

.qs_opened .qsr {
    display: block;
}

.qsr__list {
    margin: 0;
    padding-left: 1.2em;
}

.qsr__list li {
    line-height: 1.2;
    padding-bottom: 10px;
}

.qsr__list__page_path {
    color: #006621;
    font-size: 14px;
}

.qsr__list__show_all {
    list-style: none;
    margin-left: -18px;
}

.qsr__list__show_all:before {
    content: '+';
}

.qsr__list__show_all__btn {
    margin-left: 10px;
    cursor: pointer;
}

.qsr_activation {
    background: bisque;
}

.qsr__search_str {
    font-style: normal;
    background-color: #ff9;
}

.qsr__close {
    display: none;
    position: absolute;
    top: 3.2em;
    right: 1em;
    cursor: pointer;
}

.qsr__close.show {
    display: unset;
}

.qsr__list li:first-child {
    padding-right: 3em;
}

@media (min-width: 640px) {
    body {
        margin: 0 30px 15px;
    }

    .toc {
        float: right;
        max-width: 16em;
        padding-left: .8em;
    }

    .row {
        flex-direction: row;
    }

    .row .column.header__row_1__heading, .row .column.sidebar {
        flex: 0 0 22%;
        max-width: 256px;
    }

    .row .column.header__row_1__search_box {
        /* 与 .content 对齐 */
        padding-left: 1em;
    }

    .row .column.header__row_1__right {
        flex: 0 0 6em;
        display: unset;
    }

    .row.show_sidebar .column.content {
        box-sizing: border-box;
        padding-left: 1em;
        /* 避免子元素 pre 不出横向滚动条，这个元素的宽度被撑大。
        width 值可以随便写，只要 <= 这个元素该有的宽度就可以。
        也可以改为 overflow-x:非visible */
        width: 75%;
    }

    .row .header__row_1__heading__logout {
        display: none;
    }

    .header__toolbar {
        margin-top: 0;
    }
}