body {
    line-height: 1.6;
    color: #333;
    font-family: Arial, x-locale-body, sans-serif;
    word-break: break-word;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #000;
    cursor: text;
    font-weight: 700;
}

h2, h3, h4, h5, h6 {
    margin: 1em 0 0;
}

a {
    color: #9b4dca;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    background: #f4f5f6;
    border-radius: 4px;
    font-size: 86%;
    margin: 0 2px;
    padding: 2px 5px;
    white-space: nowrap;
    word-break: normal;
    tab-size: 4;
}

pre {
    background: #f4f5f6;
    border-radius: 3px;
    overflow-y: hidden;
}

pre > code {
    margin: 0;
    border-radius: 0;
    display: block;
    padding: 10px 16px;
    white-space: pre;
    overflow-y: hidden;
    -webkit-font-smoothing: auto;
}

pre > code.hljs {
    padding: 10px 16px;
}

.hljs-ln {
    margin: 0;
    width: auto;
}

.hljs-ln td {
    border: 0;
}

.hljs-ln td.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: right;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px;
}

.hljs-ln td.hljs-ln-code {
    padding-left: 10px;
    padding-right: 16px;
}

blockquote {
    border-left: 3px solid #d1d1d1;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
    padding: 0 1em;
}

blockquote *:last-child {
    margin-bottom: 0;
}

table {
    border-spacing: 0;
    width: 100%;
    margin-bottom: 25px;
}

td,
th {
    border-bottom: 1px solid #e1e1e1;
    padding: 12px 15px;
    text-align: left;
}

td:first-child,
th:first-child {
    padding-left: 0;
}

td:last-child,
th:last-child {
    padding-right: 0;
}

hr {
    border: 0;
    border-top: 1px solid #f4f5f6;
    margin: 30px 0;
}

label,
legend {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

/* 阻止手机浏览器修改搜索框样式 */
input[type=search] {
    -moz-appearance: none; /* older firefox */
    -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
    /*noinspection CssUnknownProperty*/
    appearance: none; /* rest */
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'] {
    background-color: transparent;
    border: 1px solid #d1d1d1;
    box-shadow: none;
    border-radius: .4em;
    font-size: 1em;
    padding: .6em 1em;
    box-sizing: border-box;
    width: 100%;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input:focus {
    border: 1px solid #9b4dca;
    outline: 0;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    background-color: #9b4dca;
    border: 0.1em solid #9b4dca;
    border-radius: .4em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 3em;
    letter-spacing: .1em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

img {
    max-width: 100%;
}

.no_selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    /*noinspection CssUnknownProperty*/
    -khtml-user-select: none;
    -ms-user-select: none;
}

.show {
    display: block !important;
}

.scroll_table {
    overflow: auto;
}

.scroll_table table {
    white-space: pre;
}

.container {
    max-width: 70em;
    min-width: 20em;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: column;
}

.row .column {
    display: block;
    flex: 1 1 auto;
    max-width: 100%;
    width: 100%;
}

.header {
    padding: 0 1em;
}

.header__toolbar {
    box-sizing: border-box;
    padding: 1.5em 1em 0;
}

.row .column.sidebar {
    display: none;
}

.show_sidebar .column.sidebar {
    display: block;
}

.header__row_1__heading {
    flex: 0 0 8em;
}

.header__row_1__heading h1 {
    display: inline-block;
}

.header__row_1__heading h1 a:hover {
    text-decoration: none;
}

.header__row_1__search_box {
    padding-top: .2em;
}

.header__row_1__search_box .search_icon {
    background: url('data:image/svg+xml;utf8,<svg class="search_icon" focusable="false" height="24px" viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path><path d="M0 0h24v24H0z" fill="none"></path></svg>') no-repeat center;
    width: 38px;
    height: 38px;
    position: absolute;
    margin: 4px 0 0 7px;
    opacity: .54;
    cursor: pointer;
}

.header__row_1__search_form {
    max-width: 38em;
    position: relative;
}

input.header__row_1__search_input {
    background-color: rgba(0, 0, 0, 0.04);
    line-height: 1.6;
    border-width: 0;
    border-radius: 4px;
    padding-left: 3em;
    padding-right: 3em;
}

.qs_opened input.header__row_1__search_input_focus, input.header__row_1__search_input:focus {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #dfe1e5;
}

.btn_clear_search {
    position: absolute;
    right: 40px;
    top: 4px;
    font-size: 1.5em;
    cursor: pointer;
    display: none;
    padding: 0 .5em;
}

.btn:hover {
    background-color: rgba(60,64,67,0.08);
    border-radius: 50%;
}

.mobi .btn:hover {
    background-color: transparent;
}

.btn_clear_search:before {
    content: '×';
}

.sidebar_toggle {
    cursor: pointer;
    display: none;
}

.action_toggle:hover {
    cursor: pointer;
    text-decoration: underline;
}

.mobi .action_toggle:hover {
    text-decoration: none;
}

.js .sidebar_toggle {
    display: inline-block;
}

.main {
    padding: 0 1em;
}

.tree_box {
    padding-right: 1em;
    margin-top: 1em;
}

.tree_box ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 1em;
}

.tree_box > ul {
    padding: 0;
}

.tree_node_header {
    cursor: pointer;
    display: inline-block;
}

.tree_node_header_icon {
    padding-right: 5px;
}

.tree_node_folded > .tree_node_header .tree_node_header_icon:before {
    content: '+';
}

.tree_node_unfolded > .tree_node_header .tree_node_header_icon:before {
    content: '−';
}

.tree_node_leaf > .tree_node_header .tree_node_header_icon:before {
    content: '•';
}

.tree_node_folded > ul {
    display: none;
}

.tree_node_unfolded > ul {
    display: block;
}

.tree_node_header_selected {
    background: bisque;
}

.content {
    box-sizing: border-box;
    padding-bottom: 1em;
}

.page .search_str {
    font-style: normal;
    background-color: #ff9;
}

/* 锚链接 */
.page .heading > a.heading__anchor {
    float: left;
    margin-left: -21px;
    padding-right: 6px;
    visibility: hidden;
    display: block;
}

.page .heading:hover > a.heading__anchor {
    visibility: visible;
}

.page .heading__anchor__icon {
    opacity: .54;
    fill: currentColor;
    color: #3d7e9a;
    margin-left: 10px;
}

.toc {
    display: none;
    margin: 1em 0;
}

.js .toc {
    display: block;
}

.toc h3 {
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    font-weight: unset;
    color: unset;
    margin: 0;
}

.toc ul {
    margin: 0;
    padding-left: 1em;
}

.toc > ul {
    display: none;
    padding-left: 0;
}

.toc ul li {
    margin: 0;
    list-style-type: none;
}

.toc ul li:before {
    content: '◦';
    padding-right: 6px;
}

.sr {
    max-width: 600px;
}

.sr_stats {
    font-size: 14px;
    color: #808080;
    padding-bottom: 1em;
}

.sr_page {
    margin-bottom: 26px;
}

.sr_page__link {
    line-height: 1.2;
}

.sr_page a:hover {
    text-decoration: none;
}

.sr_page a:hover .sr_page_title {
    text-decoration: underline;
}

.sr_page_title {
    font-size: 18px;
}

.sr_page_path {
    color: #006621;
}

.sr_page_info {
    display: inline-block;
    color: #808080;
}

.sr_page .search_str {
    font-weight: bolder;
    font-style: normal;
    background-color: #ff9;
}

.sr_page_body .search_str {
    color: #6a6a6a;
}

.login_box {
    max-width: 300px;
    min-width: 100px;
    margin: 2em auto;
}

.login_box input {
    margin-bottom: 1em;
}

.login_box input[type=submit] {
    width: 100%;
    margin-top: 1em;
}

.recently_modified i {
    font-size: small;
    color: #808080;
}

.search_box__ct {
    padding: 0.5em 1em 0;
    display: none;
    font-size: 14px;
}

.search_box__ct ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search_box__ct ul li {
    display: inline-block;
    margin: 0 .25em;
    padding: 0 .25em;
    cursor: pointer;
}

.search_box__category_list_title, .search_box__tags_list_title {
    font-weight: bold;
    padding-right: 1em;
    cursor: pointer;
    margin-left: -3em;
    vertical-align: top;
    float: left;
}

.search_box__ct ul li.cat_selected {
    background: #e0e0e0;
    border-color: #d7d7d7;
}

.category_box, .tags_box {
    padding-left: 3em;
}

.search_box__ct_toggle {
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 1.5em;
    cursor: pointer;
    display: none;
    padding: 0 .5em;
}

.search_box__ct_toggle:before {
    content: '+';
}

.search_box__ct_toggle.unfolded:before {
    content: '−';
}

.qsr {
    padding: .5em 0 0 1em;
    box-sizing: border-box;
    min-height: 21em;
    display: none;
    position: relative;
}

.qs_opened .qsr {
    display: block;
}

.qsr__stats {
    padding-left: 1em;
    font-size: 14px;
    color: #808080;
}

.qsr__list {
    margin: 0;
    padding-left: 1.2em;
    padding-right: 1.2em;
}

.qsr__list li {
    line-height: 1.2;
    padding-top: .5em;
}

.qsr__list li a:hover {
    text-decoration: none;
}

.qsr__list li a:hover .qsr__list__page_title {
    text-decoration: underline;
}

.qsr__list__page_path {
    color: #006621;
    font-size: 14px;
}

.qsr__list__show_all {
    list-style: none;
}

.qsr__list__show_all__icon {
    cursor: pointer;
    margin-left: -18px;
}

.qsr__list__show_all__icon:before {
    content: '+';
}

.qsr__list__show_all__btn {
    margin-left: 10px;
    cursor: pointer;
}

.qsr_activation .qsr__list__link_line {
    background: bisque;
}

.qsr__search_str {
    font-style: normal;
    background-color: #ff9;
}

.qsr__close {
    position: absolute;
    right: 5px;
    padding: .4em .9em;
    cursor: pointer;
}

.qsr__close:before {
    content: 'X';
}

ul.header__row_1__tools {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__row_1__tools li {
    display: inline-block;
    padding-left: .5em;
}

.header__row_1 {
    position: relative;
}

.header__row_1__right {
    position: absolute;
    text-align: right;
    flex: 0 0 12em;
}

.center_position {
    max-width: 600px;
    margin: 0 auto;
}

@media (min-width: 640px) {

    /* layout */
    .multiple_columns .row {
        flex-direction: row;
    }

    .multiple_columns .show_sidebar .center_position, .multiple_columns .show_toc .center_position {
        margin: unset;
        max-width: unset;
    }

    /* header */
    .header .row {
        flex-direction: row;
    }

    .multiple_columns .header {
        padding: 8px 2em 0;
    }

    .mobi .multiple_columns .header {
        padding: 0 1em;
    }

    .row .column.header__row_1__heading {
        flex: 10000 1 8em;
        max-width: 15em;
        min-width: 8em;
    }

    .row .column.header__row_1__search_box {
        flex: 1 1 38em;
        height: 51px;
    }

    .row .column.header__row_1__right {
        position: inherit;
        flex: 100 100 11em;
        max-width: 15em;
        min-width: 7em;
    }

    /* 快速搜索面板阴影 */
    .header__row_1__search_form, .header__row_1__search_form {
        border-radius: 4px;
    }

    .show_ct .header__row_1__search_form, .qs_opened .header__row_1__search_form {
        box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
        padding-bottom: 1em;
        background: #fff;
    }

    .show_ct .header__row_1__search_form .header__row_1__search_input, .qs_opened .header__row_1__search_form .header__row_1__search_input {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    /* toolbar */
    .multiple_columns .header__toolbar {
        padding: 0 0 0 2em;
        line-height: 1;
    }

    .mobi .multiple_columns .header__toolbar {
        padding-left: 1em;
    }

    .multiple_columns .fixed .header__toolbar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    /* main */
    .main {
        padding: 0 2em;
    }

    .mobi .main {
        padding: 0 1em;
    }

    /* sidebar */
    .row .column.sidebar {
        flex: 0 1 16em;
        margin-left: -1em;
    }

    .multiple_columns .show_sidebar .sidebar .sidebar_toggle {
        float: right;
        margin-right: 1.5em;
    }

    .multiple_columns .sidebar_toggle {
        line-height: 1;
    }

    .multiple_columns .fixed .header__toolbar .sidebar_toggle {
        padding-right: 0.5em;
        padding-bottom: 0.5em;
        background: #fff;
    }

    .multiple_columns .fixed .row .column.sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        height: 100vh;
        box-sizing: border-box;
    }

    .multiple_columns .fixed .tree_box {
        height: calc(100vh - 1em);
        overflow-y: auto;
        width: 100%;
        box-sizing: border-box;
    }

    .multiple_columns .fixed .tree_box > ul {
        padding-bottom: 2em;
    }

    /* toc */
    .toc {
        margin: 0;
        float: right;
        max-width: 17em;
        padding-left: 1em;
        box-sizing: border-box;
    }

    .multiple_columns .fixed .toc {
        position: -webkit-sticky;
        position: sticky;
        background: #fff;
        top: 0;
    }

    .multiple_columns .fixed .show_toc .toc {
        margin-right: -17em;
    }

    .multiple_columns .fixed .show_toc .toc h3 {
        padding-right: 1em;
    }

    .multiple_columns .fixed .show_toc .toc > ul {
        box-sizing: border-box;
        overflow-y: auto;
        max-height: calc(100vh - 2em);
        padding-right: 1em; /* for scroll bar */
        padding-bottom: 2em;
    }

    .multiple_columns .fixed .content.show_toc {
        padding-right: 17em;
    }

    /* content */
    .content {
        box-sizing: border-box;
        padding-top: 1em;
    }

    .multiple_columns .content {
        padding: 1em 0;
    }

    .multiple_columns .fixed .content {
        padding-top: .5em;
    }

    .multiple_columns .show_sidebar .column.content {
        flex: 1 3 48em;
        padding-left: 2em;
        padding-top: 2em;
        width: 1%;
    }

    @media (min-height: 640px) {
        .multiple_columns .fixed .header {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            background: #fff;
            z-index: 1; /* 在 Sidebar 和 TOC 之上 */
        }

        .multiple_columns .fixed.qsr_more .header {
            position: static;
            background: transparent;
        }

        .multiple_columns .fixed .header__row_1__search_box {
            box-sizing: border-box;
            height: 51px;
        }

        .multiple_columns .fixed.qsr_more .header__row_1__search_box {
            height: auto;
        }

        .multiple_columns .fixed .header__toolbar {
            top: 51px;
        }

        .multiple_columns .fixed .row .column.sidebar {
            top: 51px; /* header height is 51px */
            height: calc(100vh - 51px);
        }

        .multiple_columns .fixed .tree_box {
            height: calc(100vh - 67px); /* 51px + 1em = 67px */
        }

        .multiple_columns .fixed .toc {
            top: 5em;
        }

        .multiple_columns .fixed .show_toc .toc > ul {
            max-height: calc(100vh - 7em);
        }

        .qsr__list {
            min-height: 6em;
            max-height: calc(100vh - 13em);
            overflow: auto;
        }
    }
}