<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="mobi">
<head>
    <title th:text="(${pageTitle} != null and ${pageTitle} != '' ? ${pageTitle} + ' - ' : '') + ${siteTitle}"></title>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta id="ctx" name="ctx" th:value="${ctx}">
    <meta id="prefix" name="prefix" th:value="${prefix}">
    <meta id="treeJsonUrl" name="treeJsonUrl" th:value="@{${treeJsonUrl}}">
    <meta id="cssUrl" name="cssUrl" th:value="@{${cssUrl}}">
    <link rel="icon" th:href="@{${faviconUrl}}" type="image/x-icon"/>
    <script>
        (function () {
            document.querySelector('html').style.visibility = 'hidden';
            var countDown = 2;
            window.autumn = {
                ctx: document.getElementById('ctx').getAttribute('value'),
                prefix: document.getElementById('prefix').getAttribute('value'),
                treeJsonUrl: document.getElementById('treeJsonUrl').getAttribute('value'),
                onLoad: function () {
                    if (--countDown === 0) {
                        document.querySelector('html').removeAttribute('style');
                        document.dispatchEvent(new Event('visible'));
                    }
                }
            };
            document.writeln('<link href="' + document.getElementById('cssUrl').getAttribute('value') + '" ' +
                'rel="preload" as="style" ' +
                'onload="this.rel = \'stylesheet\'; autumn.onLoad(); this.onload = null">');
        })();
    </script>
    <script async th:src="@{${jsUrl}}"></script>
    <noscript>
        <link rel="stylesheet" th:href="@{${cssUrl}}">
    </noscript>
</head>
<body class="multiple_columns">
<div class="container">
    <div layout:fragment="basic_layout_fragment"></div>
    <div class="footer">
        <hr/>
        <div class="copyright" th:text="${copyright}"></div>
    </div>
</div>
</body>
</html>