<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="desktop">
<head>
    <title th:text="(${pageTitle} != null and ${pageTitle} != '' ? ${pageTitle} + ' - ' : '') + ${siteTitle}"></title>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta id="ctx" name="ctx" th:value="${ctx}">
    <meta id="prefix" name="prefix" th:value="${prefix}">
    <meta id="treeJsonUrl" name="treeJsonUrl" th:value="${treeJsonUrl}">
    <link rel="icon" th:href="@{${faviconUrl}}" type="image/x-icon"/>
    <script>
        var autumn = {
            ctx: document.getElementById('ctx').getAttribute('value'),
            prefix: document.getElementById('prefix').getAttribute('value'),
            treeJsonUrl: document.getElementById('treeJsonUrl').getAttribute('value')
        };
        document.querySelector('html').style.visibility = 'hidden';
    </script>
    <script async th:src="@{${jsUrl}}"></script>
    <link th:href="@{${cssUrl}}" rel="preload" as="style"
          onload="this.rel = 'stylesheet';
          autumn.onCssLoaded ? autumn.onCssLoaded() : autumn.cssLoaded = true;
          this.onload = null">
    <noscript>
        <link rel="stylesheet" th:href="@{${cssUrl}}">
    </noscript>
</head>
<body class="multiple_columns">
<div class="container">
    <div layout:fragment="basic_layout_fragment"></div>
    <div class="footer">
        <a class="powered" href="https://github.com/wei345/autumn">Powered by Autumn</a>
    </div>
</div>
</body>
</html>