<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta id="ctx" name="ctx" th:value="${ctx}">
    <meta id="prefix" name="prefix" th:value="${prefix}">
    <meta id="treeJsonUrl" name="treeJsonUrl" th:value="${treeJsonUrl}">
    <title th:text="(${pageTitle} != null and ${pageTitle} != '' ? ${pageTitle} + ' - ' : '') + ${siteTitle}"></title>
    <link rel="icon" th:href="@{${faviconUrl}}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{${cssUrl}}"/>
    <script>
        var autumn = {
            ctx: document.getElementById('ctx').getAttribute('value'),
            prefix: document.getElementById('prefix').getAttribute('value'),
            treeJsonUrl: document.getElementById('treeJsonUrl').getAttribute('value')
        };
    </script>
    <script async th:src="@{${jsUrl}}"></script>
</head>
<body class="multiple_columns">
<div class="container">
    <div layout:fragment="basic_layout_fragment"></div>
    <div class="footer">
        <a class="powered" href="https://github.com/wei345/autumn">Powered by Autumn</a>
    </div>
</div>
</body>
</html>