<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{content_layout}"
      th:with="pageTitle=${status} + ' ' + ${error}">
<head>
    <title th:text="${pageTitle}">Error</title>
</head>
<body>
    <div layout:fragment="content_layout_fragment" class="error_page center_position">
        <h2 th:text="${pageTitle}">Error</h2>
        <p th:if="${message != error}" th:text="${message}"></p>
    </div>
</body>
</html>